%script(src="/jplayer/jquery.jplayer.min.js")
%script(src="/index.js")
- unless loggedin?
  %form(action='/login' method='post')
    %input(type='submit' value='login')
- else
  %table#list
    %thead
      %tr
        %th date/time
        %td CH
        %td title
        %td DL | Delete
    %tbody
      - @items.map do |item|
        %tr(data-title="#{item.title}" data-url="#{item.url}")
          %th= item.time.strftime("%Y/%m/%d %H:%M")
          %td= item.ch
          %td
            .playbuttons
              %a.link(href="#{item.url}")= item.title
              %a.2x(href="#") play 2x
          %td
            %span
              %a.url(href="#{item.url}") download
              %a.mpg(href="#{item.mpgname}") download mpg
            %button.delete DELETE
  #videodialog.hidden
    #player.playing
    #control
      #progress
      %span#seek
        %button#start.seek-first seek first
        %button#revL.seek-prev   seek prev long
        %button#rev.carat-1-w    seek prev
        %button#fwd.carat-1-e    seek next
        %button#fwdL.seek-next   seek next long
      %span#volume
        %button#voldown.volume-off vol down
        %button#volup.volume-on    vol up
  :javascript
    jQuery(run);
