%link(rel='stylesheet' href="/video-js/video-js.css")
%script(src="/flowplayer/flowplayer-3.2.6.min.js")
%script(src="/video-js/video.js")
%script(src="/index.js")
- unless loggedin?
  %form(action='/login' method='post')
    %input(type='submit' value='login')
- else
  %table#list
    %thead
      %tr
        %th date/time
        %td CH
        %td title
        %td DL | Delete
    %tbody
      - @items.map do |item|
        %tr(data-title="#{item.title}" data-url="#{item.url}")
          %th= item.time.strftime("%Y/%m/%d %H:%M")
          %td= item.ch
          %td
            .playbuttons
              %a.link(href="#{item.url}")= item.title
              %a.2x(href="#") play 2x
          %td
            %span
              %a.url(href="#{item.url}") download
              %a.mpg(href="#{item.mpgname}") download mpg
            %button.delete DELETE
  #videodialog.hidden
    #player.playing
      %video.video-js(width=300 height=200)
        %source(src="" type='video/mp4')
        %object.vjs-flash-fallback(type="application/x-shockwave-flash" data="/flowplayer/flowplayer-3.2.7.swf" width=300 height=200)
          %param(name="movie" value="/flowplayer/flowplayer-3.2.7.swf")
          %param(name="allowfullscreen" value="true")
          %param(name="flashvars" value="")
    #control
      %button#start |&lt;
      %button#revL  &lt;&lt;
      %button#rev   &lt;
      %button#fwd   &gt;
      %button#fwdL  &gt;&gt;
  :javascript
    jQuery(run);
